{
        admin 0.0.0.0:2019 {
                origins 0.0.0.0
        }
        metrics {
                per_host
        }
}

beta.ejunz.com {
    reverse_proxy http://127.0.0.1:10086
}

jhost-uk.ejunz.com {
    reverse_proxy http://127.0.0.1:10086
}

prometheus.ejunz.com {
    reverse_proxy http://127.0.0.1:10001
}

grafana.ejunz.com {
    reverse_proxy http://127.0.0.1:10002
}

bot.ejunz.com {
    reverse_proxy http://127.0.0.1:10003
}

bot-api.ejunz.com {
    reverse_proxy https://api.telegram.org {
        header_up Host api.telegram.org
        header_up X-Real-IP {remote}
    }
}

   steam-api.ejunz.com {
       reverse_proxy https://api.steampowered.com {
           header_up Host api.steampowered.com
           header_up X-Real-IP {remote}
       }
   }
