{% set page_name = "a001utils" %}
{% extends "layout/basic.html" %}
{% import "components/contest.html" as contest with context %}
{% import "components/problem.html" as problem with context %}
{% import "components/user.html" as user with context %}
{% block content %}
<div class="row">
  {% for column in contents %}
    <div class="large-{{ column.width }} columns">
      {% for s in column.sections %}
        {% set template_path = "partials/default/" + s[0] + ".html" %}
        {% if templateExists(template_path) %}
          {% set payload = s[1] %}
          {% include template_path %}
        {% else %}
          {% set template_path = s[0] + ".html" %}
          {% if templateExists(template_path) %}
            {% set payload = s[1] %}
            {% include template_path %}
          {% else %}
            {% set payload = _("Template {0} not found.").format(s[0]) %}
            {% include "partials/default/error.html" %}
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>
  {% endfor %}
</div>
{% endblock %}